body
    font-family: 'Montserrat', sans-serif

.container-table 
    display: table
    width: 100%
    margin: 0
    padding: 0

.vertical-center-row 
    display: table-cell
    vertical-align: middle

.logo 
    position: relative
    height: auto !important


.logo .title 
    color: #fff
    font-size: 96px
    font-weight: 700
    text-shadow: 0 2px 0 rgba(0,0,0,0.2)


.logo small 
    color: #fff
    text-shadow: 0 1px 0 rgba(0,0,0,0.2)

.btn.btn-pill
    padding: 5px 40px 5px 40px
    border-radius: 100px
    font-size: 18px
    font-weight: bold
    color: #ffffff

.btn.btn-outline-white
    outline: none !important
    background: transparent
    border: 2px solid #ffffff
    transition: background 300ms ease

.btn.btn-outline-white:hover
    background: rgba(255,255,255,0.2)