---
layout: default
---
<div class="col-md-6 offset-md-3 text-xs-center">
    <h1 class="display-2">Dev Blog</h1><small class="site-link">by <a href="http://orels1.tips" target="_blank">orels1</a></small>
</div>

<section class="col-md-6 offset-md-3 blog-posts">
    {% for post in site.posts %}
        <div class="card" id="{{post.commits[0]}}">
            <div class="card-header">Posted on {{post.date | date_to_long_string }}</div>
            <div class="card-block">
                <p class="card-text">
                    {{post.content}}
                </p>
            </div>
            <div class="card-footer"><i class="fa fa-history" aria-hidden="true"></i>
                {% for commit in post.commits %}
                    <a href="https://github.com/orels1/Sono-Bot/commit/{{commit}}" target="_blank">{{commit | slice: 0, 6 }}</a>,&nbsp;
                {% endfor %}
            </div>
        </div>
    {% endfor %}
</section>