html, body, .container-table {
    height: 100%;
}

body{
    background: linear-gradient(315deg, #31d4eb, #5d00aa);
    background-size: 400% 400%;

    -webkit-animation: blueish-bg 40s ease infinite;
    -moz-animation: blueish-bg 40s ease infinite;
    animation: blueish-bg 40s ease infinite;
}

.container-table {
    display: table;
    width: 100%;
    margin: 0;
    padding: 0;
}
.vertical-center-row {
    display: table-cell;
    vertical-align: middle;
}

@-webkit-keyframes blueish-bg {
    0%{background-position:1% 0%}
    50%{background-position:99% 100%}
    100%{background-position:1% 0%}
}
@-moz-keyframes blueish-bg {
    0%{background-position:1% 0%}
    50%{background-position:99% 100%}
    100%{background-position:1% 0%}
}
@keyframes blueish-bg { 
    0%{background-position:1% 0%}
    50%{background-position:99% 100%}
    100%{background-position:1% 0%}
}

.logo {
    position: relative;
    font-family: 'Montserrat', sans-serif;
}

.logo .title {
    color: #fff;
    font-size: 100px;
    font-weight: 700;
    text-shadow: 0 2px 0 rgba(0,0,0,0.2);
}

.logo small {
    color: #fff;
    text-shadow: 0 1px 0 rgba(0,0,0,0.2);
}